@model aes.Models.Predmet

@{
    ViewData["Title"] = "Delete";
}
<div class="content-bg">
    <div class="row head-bg justify-content-between">
        <p class="pf08"><strong>Detalji:</strong> Klasa: @Model.Klasa</p>
    </div>
    <div>
    </div><hr />
    <h4>Jeste li sigurni da želite obrisati ovaj predmet ?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Klasa)
        </dt>
        <dd class="col-sm-10">
            <a href="/Predmeti/Details/@Model.Id">@Html.DisplayFor(model => model.Klasa)</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Naziv)
        </dd>
    </dl>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button onclick="location.href='@Url.Action("Details", "Predmeti", new { id = Model.Id })'" type='button' class='button-back'><i class='bi bi-arrow-left'></i>  povratak na detalje</button>
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
