@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.AspNetCore.Http
@using aes.Controllers
@using aes.Repositories.IRepository

@inject IStanUpdateRepository StanUpdateRepository;
@{
    StanUpdate StanUpdateData = StanUpdateRepository.GetLatestAsync();

    string dateOfData = null;
    string StanUpdateDataUpdateBegan = null;
    string StanUpdateDataUpdateEnded = null;

    if (StanUpdateData is not null)
    {
        dateOfData = StanUpdateRepository.GetLatestSuccessfulUpdateAsync().DateOfData.ToString("dd.MM.yyyy HH:mm:ss");
        StanUpdateDataUpdateBegan = StanUpdateData.UpdateBegan.ToString("dd.MM.yyyy HH:mm:ss");
        StanUpdateDataUpdateEnded = StanUpdateData.UpdateEnded != null ? ((DateTime)StanUpdateData.UpdateEnded).ToString("dd.MM.yyyy HH:mm:ss") : null;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - aes</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @*jQuery*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    @*Datatables*@
    <script src="~/js/_js_global/global/datatables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/js/_js_global/global/datatables.min.css" />

    @*DataTables plugins*@
    <script src="~/js/_js_global/global/ellipsis.js"></script>

    @*Date and time plugins*@
    <script src="~/js/_js_global/global/datetime.js"></script>
    <script src="~/js/_js_global/global/moment.min.js"></script>

    @*Other*@
    <script src="~/js/_js_global/global/jszip.min.js"></script>
    <script src="~/js/_js_global/global/pdfmake.min.js"></script>
    <script src="~/js/_js_global/global/vfs_fonts.min.js"></script>
    <script src="~/js/_js_global/global/dataTables.buttons.min.js"></script>
    <script src="~/js/_js_global/global/buttons.html5.min.js"></script>
    <script src="~/js/_js_global/global/buttons.print.min.js"></script>

    @*BootStrap icons*@
    <link rel="stylesheet" type="text/css" href="~/js/_js_global/global/bootstrap-icons.css" />

    @*Datatables icons*@
    <link rel="stylesheet" type="text/css" href="~/js/_js_global/global/buttons.dataTables.min.css" />

    @*Datatables css*@
    <link rel="stylesheet" type="text/css" href="~/js/_js_global/global/datatables.min.css" />


</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom mb-3">
                <div class="container">
                    <div class="logo" asp-controller="Home" asp-action="Index">
                        <img src="~/logo-sm.png" alt="aes">
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark h6" asp-area="" asp-controller="Stanovi" asp-action="">Stanovi</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle nav-link text-dark h6" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kupci<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark h6" asp-area="" asp-controller="ElektraKupci" asp-action="">Kupci - Elektra</a>
                                    </li>
                                    <li class="dropdown-divider"></li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark h6" asp-area="" asp-controller="Ods" asp-action="">ODS - mjerna mjesta</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle nav-link text-dark h6" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Računi<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark h6" asp-area="" asp-controller="RacuniElektra" asp-action="">Elektra - obračuni</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark h6" asp-area="" asp-controller="RacuniElektraRate" asp-action="">Elektra - rate</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark h6" asp-area="" asp-controller="RacuniElektraIzvrsenjeUsluge" asp-action="">Elektra - izvršenja usluge</a>
                                    </li>
                                    <li class="dropdown-divider"></li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark h6" asp-area="" asp-controller="RacuniHolding" asp-action="">Holding</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark h6" asp-area="" asp-controller="Predmeti" asp-action="">Predmeti</a>
                            </li>
                        </ul>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </header>
        <footer class="border-top footer text-muted">
            <div class="d-flex row container justify-content-between align-items-center">
                &copy; 2024 - aes - Jasmin Husić
                @if (StanUpdateData is not null)
                {
                    <div style="font-size: 0.7rem;">
                        <div class="row">
                            <div class=" col d-flex "><strong>stanje podataka:_</strong> @dateOfData</div>
                            <div class=" col d-flex "><strong>update start:_</strong> @StanUpdateDataUpdateBegan</div>
                            <div class=" col d-flex "><strong>end:_</strong> @StanUpdateDataUpdateEnded</div>
                            <div class=" col d-flex "><strong>init by:_</strong> @StanUpdateData.ExecutedBy</div>
                        </div>
                    </div>
                }
                <div class="row justify-content-center align-items-center">
                    <a id="github" href="https://github.com/jhsc1988/aes">
                        <i class="bi bi-github"></i>
                    </a>
                </div>
            </div>
        </footer>
        <div class="container footer-bottom">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    }
    else if (!User.Identity.IsAuthenticated)
    {
        <main>
            @RenderBody()
        </main>
    }

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>