@model aes.Models.HEP.ElektraKupac

@{
    ViewData["Title"] = "Edit";
}
<div class="content-bg">
    <div class="row head-bg justify-content-between">
        <p class="pf08"><strong>Uređivanje:</strong> Ugovorni račun: @Model.UgovorniRacun</p>
    </div>
    <div>
        <strong> OMM: </strong>
        <a href="/Ods/Details/@Model.Ods.Id">@Model.Ods.Omm</a>
        <strong> ID: </strong>
        <a href="/Stanovi/Details/@Model.Ods.Stan.Id">@Model.Ods.Stan.StanId</a>
        <strong> Adresa: </strong> @Model.Ods.Stan.Adresa
        <strong> Kat: </strong> @Model.Ods.Stan.Kat
        <strong> Broj stana: </strong>@Model.Ods.Stan.BrojSTana
        <strong> Četvrt: </strong>@Model.Ods.Stan.Četvrt
        <strong> Površina: </strong>@Model.Ods.Stan.Površina.Value.ToString("N2", System.Globalization.CultureInfo.GetCultureInfo("hr-HR")) m2
        <strong> Status korištenja: </strong>@Model.Ods.Stan.StatusKorištenja
        <strong> Vlasništvo: </strong> @Model.Ods.Stan.Vlasništvo
    </div>
    <hr />
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        @* hidden attributes - for bind only *@
        @* ------------------------------------------------------------------------------------ *@
        <div hidden class="invisible">
            <div class="form-group">
                <label asp-for="VrijemeUnosa" class="control-label"></label>
                <input asp-for="VrijemeUnosa" class="form-control" />
                <span asp-validation-for="VrijemeUnosa" class="text-danger"></span>
            </div>
        </div>
        @* ------------------------------------------------------------------------------------ *@

        <div class="row">
            <div class="col-md-3">
                <div class="form-group space-10-10">
                    <label asp-for="UgovorniRacun" class="control-label"></label>
                    <input readonly asp-for="UgovorniRacun" class="form-control form-control-sm" />
                    <span asp-validation-for="UgovorniRacun" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group space-10-10">
                    <label asp-for="OdsId" class="control-label"></label>
                    <input asp-for="OdsId" class="form-control form-control-sm" />
                    <span asp-validation-for="OdsId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group space-10-10">
                    <label asp-for="Napomena" class="control-label"></label>
                    <input asp-for="Napomena" class="form-control form-control-sm" />
                    <span asp-validation-for="Napomena" class="text-danger"></span>
                </div>
            </div>
        </div>
        <hr />
        <div>
            <button onclick="location.href='@Url.Action("Details", "ElektraKupci", new { id = Model.Id })'" type='button' class='button-back'><i class='bi bi-arrow-left'></i>  povratak na detalje</button>
            <button onclick="location.href='@Url.Action("Delete", "ElektraKupci", new { id = Model.Id })'" type='button' class='button-back' id='remove'><i class="bi bi-x"></i>  briši</button>
            <button type="submit" class="btn btn-dark" style="margin-left: 10px;">Spremi</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
