@model aes.Models.HEP.Ods

@{
    ViewData["Title"] = "Delete";
}
<div class="content-bg">
    <div class="row head-bg justify-content-between">
        <p class="pf08"><strong>Detalji:</strong> OMM: @Model.Omm</p>
    </div>
    <div>
        <strong> ID: </strong>
        <a href="/Stanovi/Details/@Model.Stan.Id">@Model.Stan.StanId</a>
        <strong> Adresa: </strong> @Model.Stan.Adresa
        <strong> Kat: </strong> @Model.Stan.Kat
        <strong> Broj stana: </strong>@Model.Stan.BrojSTana
        <strong> Četvrt: </strong>@Model.Stan.Četvrt
        <strong> Površina: </strong>@Model.Stan.Površina.Value.ToString("N2", System.Globalization.CultureInfo.GetCultureInfo("hr-HR")) m2
        <strong> Status korištenja: </strong>@Model.Stan.StatusKorištenja
        <strong> Vlasništvo: </strong> @Model.Stan.Vlasništvo
    </div><hr />
    <h4>Jeste li sigurni da želite obrisati ovo mjerno mjesto ?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stan.Adresa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Omm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Omm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Napomena)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Napomena)
        </dd>
    </dl>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button onclick="location.href='@Url.Action("Details", "Ods", new { id = Model.Id })'" type='button' class='button-back'><i class='bi bi-arrow-left'></i>  povratak na detalje</button>
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
