@using aes.Models.Racuni;
@using aes.Models.Racuni.Elektra

@model RacunElektra

@{
    ViewData["Title"] = "Edit";
}
<div class="content-bg">
    <div class="row head-bg justify-content-between">
        <p class="pf08"><strong>Uređivanje:</strong> Broj računa: @Model.BrojRacuna</p>
    </div>

    @if (Model.ElektraKupac.Ods.Stan.Id != 25265)
    {
        <div>
            <strong> ID: </strong>
            <a href="/Stanovi/Details/@Model.ElektraKupac.Ods.Stan.Id">@Model.ElektraKupac.Ods.Stan.StanId</a>
            <strong> Adresa: </strong> @Model.ElektraKupac.Ods.Stan.Adresa
            <strong> Kat: </strong> @Model.ElektraKupac.Ods.Stan.Kat
            <strong> Broj stana: </strong>@Model.ElektraKupac.Ods.Stan.BrojSTana
            <strong> Četvrt: </strong>@Model.ElektraKupac.Ods.Stan.Četvrt
            <strong> Površina: </strong>@Model.ElektraKupac.Ods.Stan.Površina.Value.ToString("N2", System.Globalization.CultureInfo.GetCultureInfo("hr-HR")) m2
            <strong> Status korištenja: </strong>@Model.ElektraKupac.Ods.Stan.StatusKorištenja
            <strong> Vlasništvo: </strong> @Model.ElektraKupac.Ods.Stan.Vlasništvo
        </div>

        <hr />
    }

    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        @* hidden attributes - for bind only *@
        @* ------------------------------------------------------------------------------------ *@
        <div hidden class="invisible">
            <div class="form-group">
                <label asp-for="ElektraKupacId" class="control-label"></label>
                <select asp-for="ElektraKupacId" class="form-control" asp-items="ViewBag.ElektraKupacId"></select>
                <span asp-validation-for="ElektraKupacId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DopisId" class="control-label"></label>
                <select asp-for="DopisId" class="form-control" asp-items="ViewBag.DopisId"></select>
                <span asp-validation-for="DopisId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VrijemeUnosa" class="control-label"></label>
                <input asp-for="VrijemeUnosa" class="form-control" />
                <span asp-validation-for="VrijemeUnosa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsItTemp" class="control-label"></label>
                <input asp-for="IsItTemp" class="form-control" />
                <span asp-validation-for="IsItTemp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedByUserId" class="control-label"></label>
                <input asp-for="CreatedByUserId" class="form-control" />
                <span asp-validation-for="CreatedByUserId" class="text-danger"></span>
            </div>
        </div>
        @* ------------------------------------------------------------------------------------ *@
        <div style="display:inline-block; width: 20%">
            <div class="row">
                <div class="col">
                    <div class="form-group  space-10-10">
                        <label asp-for="BrojRacuna" class="control-label"></label>
                        <input asp-for="BrojRacuna" class="form-control form-control-sm" />
                        <span asp-validation-for="BrojRacuna" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group space-10-10">
                        <label asp-for="DatumIzdavanja" class="control-label"></label>
                        <input asp-for="DatumIzdavanja" class="form-control form-control-sm" />
                        <span asp-validation-for="DatumIzdavanja" class="text-danger"></span>
                    </div>
                </div>
            </div>
            @if (Model.IsItTemp != true)
            {
                <div class="row">
                    <div class="col">
                        <div class="form-group space-10-10">
                            <label asp-for="KlasaPlacanja" class="control-label"></label>
                            <input asp-for="KlasaPlacanja" class="form-control form-control-sm" />
                            <span asp-validation-for="KlasaPlacanja" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div style="display: inline-block; width: 20% ">
            <div @(Model.IsItTemp == true ? "hidden" : "") class="row">
                <div class="col">
                    <div class="form-group space-10-10">
                        <label asp-for="RedniBroj" class="control-label"></label>
                        <input asp-for="RedniBroj" class="form-control form-control-sm" />
                        <span asp-validation-for="RedniBroj" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group space-10-10">
                        <label asp-for="Iznos" class="control-label"></label>
                        <input id="input" type="number" step="0.01" asp-for="Iznos" class="form-control form-control-sm" />
                        <span asp-validation-for="Iznos" class="text-danger"></span>
                    </div>
                </div>
            </div>
            @if (Model.IsItTemp != true)
            {
                <div class="row">
                    <div class="col">
                        <div class="form-group space-10-10">
                            <label asp-for="DatumPotvrde" class="control-label"></label>
                            <input asp-for="DatumPotvrde" class="form-control form-control-sm" />
                            <span asp-validation-for="DatumPotvrde" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            }
        </div>
        <hr />
        @if (Model.IsItTemp != true)
        {
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group space-10-10">
                        <label asp-for="Napomena" class="control-label"></label>
                        <input asp-for="Napomena" class="form-control form-control-sm" />
                        <span asp-validation-for="Napomena" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <hr />
        }
        <div>

            @if (Model.IsItTemp != true)
            {
                <button onclick="location.href='@Url.Action("Details", "RacuniElektra", new { id = Model.Id })'" type='button' class='button-back'><i class='bi bi-arrow-left'></i>  povratak na detalje</button>
            }
            else
            {
                <button onclick="location.href='@Url.Action("Create", "RacuniElektra")'" type='button' class='button-back'><i class='bi bi-arrow-left'></i>  povratak</button>
            }

            <button onclick="location.href='@Url.Action("Delete", "RacuniElektra", new { id = Model.Id })'" type='button' class='button-back' id='remove'><i class="bi bi-x"></i>  briši</button>
            <button type="submit" class="btn btn-dark" style="margin-left: 10px;">Spremi</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
